[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "SDK/CPP/public/ext/pybind11"]
	path = SDK/CPP/public/ext/pybind11
	url = https://github.com/pybind/pybind11.git
