*/build
**/node_modules
**/include/ftl/config.h
**/src/config.cpp
**/*.blend1
__pycache__
fabric/
fabric-js/
build/
lab-designs/viewer
.vscode
doc/
web-service/npm-debug.log
web-service/server/npm-debug.log
gmon.out